<div class="task-widget" class="slide-pop">
    <div class="task-lists">
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{active: currentList.title == list.title}" 
                ng-repeat="list in lists track by $index">
                <a data-toggle="tab" href="#{{list.listId}}">
                    <span class="badge pull-right">{{list.remainingCount}}</span>
                    <div class="destroy pull-right glyphicon glyphicon-trash" ng-click="removeList(list)"></div>
                    <strong>{{list.title}}</strong>
                </a>
            </li>
        </ul>
        <form id="list-form" ng-submit="addList()">
            <div class="input-group new-list">
                <input id="new-list" placeholder="Create a new list..." ng-model="newList" autofocus
                       class="form-control">
        <span class="input-group-btn">
          <div class="btn new-list" ng-click="addList()">
            <span class="glyphicon glyphicon-plus"></span>
          </div>
        </span>
            </div>
        </form>
        <button type="button" class="btn btn-large btn-block btn-default form-control" ng-click="reload()">clear storage (remove in
            production)
        </button>
    </div>
    <div class="tab-content tasks">
        <div class="tab-pane active" id="{{currentList}}">
            <form id="task-form" ng-submit="addTask()">
                <div class="input-group new-task">
                    <div class="input-container">
                        <input id="new-task" placeholder="Create a new task…" ng-model="newTask.name" autofocus  class="form-control">
                    </div>
                    
                    <div class="settings">
                      <div class="col-sm-3 dropdown form-control btn-group" uib-dropdown>
                        <a type="button" class="btn btn-info" uib-dropdown-toggle>
                          {{newTask.priority || 'Select priority' | priorityFilter}} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                          <li role="menuitem" ng-click='newTask.priority=1'>important</li>
                          <li role="menuitem" ng-click='newTask.priority=2'>medium</li>
                          <li role="menuitem" ng-click='newTask.priority=3'>generic</li>
                        </ul>
                      </div>
                        <div class="col-sm-3 dropdown form-control">
                            <a class="btn btn-info dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown"
                               href="#/">{{newTask.startTime || 'Set start time' | date:'MM/dd/yyyy HH:mm'}} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <datetimepicker data-ng-model="newTask.startTime"
                                                data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }"/>
                            </ul>
                        </div>
                        <div class="col-sm-3 dropdown form-control">
                            <a class="btn btn-info dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" href="#/">{{newTask.endTime || 'Set end time' | date:'MM/dd/yyyy HH:mm'}} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <datetimepicker data-ng-model="newTask.endTime"
                                                data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                            </ul>
                        </div>
                        <div class="col-sm-3 dropdown form-control">
                            <a class="btn btn-success" ng-click="addTask()"><i class="glyphicon glyphicon-plus"></i> Add task
                            </a>
                        </div>
                    </div>    
                </div>
            </form> 
                <div class="panel-top">

                <div class="btn-group pull-right">

                    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'priority'">Priority</label>
                    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'endTime'">Time left</label>
                    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="''">Default</label>
                
                </div>

                <span class="pull-right">Order by:</span>    
            </div>
            
            <uib-accordion close-others="true" class="tab-content" >
                <uib-accordion-group class=""
                        ng-repeat="task in tasks | orderBy: radioModel track  by $index"
                        panel-class="{{{1:'panel-danger', 2:'panel-warning', 3:'panel-info'}[task.priority]}}"
                        is-open="task.open">
                    <uib-accordion-heading ng-click="task.open = !task.open">
                        <input type='checkbox' ng-model='task.completed'> {{task.title}}
                        <br ng-show="task.endTime">
                        <span ng-show="task.endTime" class="info"> Remaining: {{task.endTime | amDifference : null : 'seconds'| amDurationFormat : 'second' }}</span>

                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': task.open, 'glyphicon-chevron-right': !task.open}"></i>
                        <div class="destroy glyphicon glyphicon-trash pull-right destroy-task"
                             ng-click="removeTask(task)"></div>
                    </uib-accordion-heading>
                    <uib-accordion-content>
                        Start: <span class="info">{{ task.startTime || 'Not available' | date:"MM/dd/yyyy 'at' HH:mm" }}</span> <br>
                        End: <span class="info">{{ task.endTime || 'Not available' | date:"MM/dd/yyyy 'at' HH:mm" || 'Not set'}}</span>  <br>
                        Left: <span class="info">{{now || 'Not available' | amDifference : task.startTime : 'seconds' | amDurationFormat : 'second' }}</span>  <br>
                        Remaining: <span class="info">{{task.endTime | amDifference : null : 'seconds'| amDurationFormat : 'second' }} </span> <br>
                        All: <span class="info">{{task.endTime | amDifference : task.startTime : 'seconds' | amDurationFormat : 'second'  }} </span> <br>
                        <uib-progressbar max="100" value="task.progress || 0" class="progress-striped active" type="success">
                            <span style="color:#f2f2f2; white-space:nowrap;">Progress: {{task.progress|| 0}} %</span>
                        </uib-progressbar>
                        <div class="text-center" ng-hide="task.subtasks">
                            <span class="info">No tasks yet</span>
                        </div>
                    </uib-accordion-content>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
</div>
